#list{
	list-style:none;
	float:center; 
	display:inline;
}
li{
	display:inline;
}
.circle{
	float:center; 
	align-content: center;
	border: 3px solid #242424;
	width: 100px;
	height:100px;
	background-color: #242424;
	border-radius:50%;
	position: relative;
	top:-55px;
}
article{
	text-align: center;
	width: 300px;
	border: :1px solid #242424;
	border-radius:5%;
	margin: 100px auto;
	position: relative;
	padding: 5px 5px 5px 5px;
}
article{
	border: 3px solid #242424;
}
.clearfix{
	clear: both;
}